.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 2rem;
  border: 1px dashed #888;
  border-radius: 1rem;
  text-align: center;
}
